@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
/*you can even style the button hover*/
input[type=color]:hover+button {
  background: #fff
}
#panel {
  background: red;
}
#threejs_canvas{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}