.vhs-filter {
  overflow: hidden;
  position: relative;
}
.vhs-filter img {
  display: block;
}
.vhs-filter__r, .vhs-filter__g {
  left: 0;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  transition: transform 0.4s;
  z-index: 1;
}
.vhs-filter__r {
  filter: url('#r');
  transform: translate(1px, 12px);
}
.vhs-filter__g {
  filter: url('#g');
  transform: translate(-2px, -1px);
}
.vhs-filter__b {
  filter: url('#b');
}
.vhs-filter:hover .vhs-filter__r, .vhs-filter:hover .vhs-filter__g {
  transform: translate(0);
}
html {
  color: #333;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  width: 900px;
}
.wrapper > div {
  margin: 10px;
}
h1 {
  display: block;
  margin: 1em auto;
}
img {
  max-width: 100%;
}
