{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://webglfundamentals.org/webgl/resources/webgl-utils.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'base.css'%}" type="text/css">
    <script type="text/javascript" src="{% static 'three.js'%}"></script>

    <script type="text/javascript" src="{% static 'atoh.js'%}"></script>
    {% block title %}
    {% endblock %}

    <title>WebGL Gallery</title>
</head>

<body>
    {%include 'sidebar_examples.html'%}

    {% block DOM %}
    {% endblock %}
    <div id="threejs_canvas">
        {% block body %}
        {% endblock %}
    </div>

    
</body>

</html>