{% load static %}
<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-theme" style="display:none; overflow-x: hidden;" id="mySidebar">
    <!--close button -->
    <div style="position:fixed;" class="w3-theme">
        <i onclick="w3_close()" class="fa fa-close w3-xlarge w3-button w3-theme"></i>
        <!-- <div class="" style="display: inline"> -->
        <!-- <i class="fa fa-search" ></i> -->
        <input class="searchinput w3-large w3-border-0" style="display: fixed" type="text" name='query' placeholder=" 검색" width="200" onkeyup="mySearchFunction(this)">
        <!-- </div> -->
    </div>

    <div class="w3-center w3-padding-32">
        <a href="{%url 'main:examples'%}">
            <div class="w3-padding-32 w3-xxlarge">
                <b>WebGL<br>Examples</b>
            </div>
        </a>
    </div>
    <div class="w3-container 3-bar-block">
        {%for project in projects%}
        <div class="w3-card-4 w3-margin-bottom card project">
            {%if project.project_url == current_project.project_url%}
            <button id="change_button" class="w3-right w3-button w3-theme-d1" style="padding: 4px 10px 0px 10px;">썸네일
        수정</button> {% csrf_token %}
            <input hidden id="new_thumbnail_base64" name="new_thumbnail_base64" value=""></input>

            <script>
                function changeThumbnail() {
                    var threejs_canvas = $('#threejs_canvas')[0];
                    var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']")[0];
                    var new_thumbnail_base64 = $('#new_thumbnail_base64')[0];

                    let canvas = $('#threejs_canvas').children("canvas")[0];
                    let base64 = canvas.toDataURL()

                    $.ajax({
                            url: "{% url 'main:update_thumbnail' current_project.project_url %}",
                            data: {
                                "csrfmiddlewaretoken": csrfmiddlewaretoken.value,
                                "new_thumbnail_base64": base64
                            },
                            type: "POST"
                        })
                        .done(function(response) {
                            $("#img_{{project.project_url}}")[0].src = "/media/" + response['new_url']
                            Snackbar(true)
                        })
                        .fail(function() {
                            Snackbar(false)
                        })
                }

                $('#change_button')[0].addEventListener('click', changeThumbnail)
            </script>
            {% endif %}
            <a class="w3-bar-item  w3-button  w3-hover-gray" href="{%url 'main:gl_project' project.project_url%}">
                <img id="img_{{project.project_url}}" src="{{project.thumbnail.url}}" style="max-width:100%;" alt="thumbnail">
                <br>
                <span class="project_name">
                    {{project.project_name}}
                </span>
                <span class="w3-right project_author">
                    {{project.author}}
                </span>
                <span hidden class="project_url">
                    {{project.project_url}}
                </span>
            </a>
        </div>
        {%endfor%}
    </div>
    <script>
        function mySearchFunction(input) {
            var cards = $('.card')
            var query = input.value
            var query_atoh = AtoH.convert(query)

            console.log(AtoH.convert(query))

            $.each(cards, function(index, card) {
                a = $(card).children()

                card.style.display = 'inline-block'
                if (!(
                        a.children(".project_name")[0].innerText.toLowerCase().includes(query.toLowerCase()) ||
                        a.children(".project_author")[0].innerText.toLowerCase().includes(query.toLowerCase()) ||
                        a.children(".project_name")[0].innerText.toLowerCase().includes(query_atoh) ||
                        a.children(".project_author")[0].innerText.toLowerCase().includes(query_atoh)
                    )) {
                    card.style.display = 'none'
                }

                a.children(".project_name").innerText
                a.children(".project_author").innerText
            });
        }
    </script>
    <div id="snackbar">Some text some message..</div>
    <script>
        function Snackbar(success) {
            var x = $("#snackbar")[0];
            if (success) {
                x.className = "show w3-green";
                x.textContent = "썸네일 변경 성공"
            } else {
                x.className = "show w3-red";
                x.textContent = "썸네일 변경 실패"
            }

            setTimeout(function() {
                x.className = x.className.replace("show", "");
            }, 2000);
        }
    </script>
</nav>

<!-- Header -->
<i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme" style="position:fixed;left:0;"></i>


<script>
    // Side navigation
    function w3_open() {
        var x = document.getElementById("mySidebar");
        var y = $(".searchinput")
        var z = $(".fa-close")
        ratio = window.innerHeight / window.innerWidth
        if (ratio >= 1.32) {
            x.style.width = "100%";
        } else {
            x.style.width = "25%";

        }

        x.style.display = "block";
        y.css('width', x.offsetWidth - z[0].offsetWidth - 20)
    }

    window.addEventListener('resize', function() {
        var x = document.getElementById("mySidebar");
        var y = $(".searchinput")
        var z = $(".fa-close")
        y.css('width', x.offsetWidth - z[0].offsetWidth - 20)
    })

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>
