{% extends 'base.html' %}

{% load static %}
{% block title %}
<script type="module" src="{% static 'js/glitch.js'%}"></script>
{% endblock %}

{% block DOM %}
    <script id="vertexShader" type="x-shader/x-vertex">
        varying vec2 vUv;

        void main(){
            vUv = uv;
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
        }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
        uniform vec3 iResolution;
        uniform vec4 iMouse;
        uniform sampler2D iChannel0;
        uniform float iTime;
        uniform float iRandNum;
        varying vec2 vUv;
        float remap (in float seed, in float min, in float max) {
            //seed should be 0~1
            return min + seed * (max - min);
        }

        // return 1 if v inside 1d range
        float insideRange(float v, float bottom, float top) {
            return step(bottom, v) - step(top, v);
        }

        //inputs
        float GLITCH_COUNT = 29.0; 
        float SPEED = 1.0; 
        
        void mainImage( out vec4 fragColor, in vec2 fragCoord )
        {
            //float time = floor(iTime * SPEED);    
            float time = iTime * SPEED;    
            vec2 uv = vUv;
            //copy origin
            vec3 outCol = texture(iChannel0, uv).rgb;
            
            //randomly offset slices horizontally
            float sliceH = 1.0 / GLITCH_COUNT;
            float glitchTime = time - floor(time);
            float activeTime = 0.1;
            if(glitchTime < activeTime ){
                for (float i = 0.0; i < GLITCH_COUNT; i++) {
                    float sliceY = i * 1.0 / GLITCH_COUNT;
                    float hOffset = remap(sin(glitchTime*iRandNum+i)/2.0+0.5,-iRandNum/10.0, iRandNum/10.0);
                    vec2 uvOff = uv;
                    uvOff.x += hOffset;
                    
                    if (insideRange(uv.y, sliceY, sliceY+sliceH) == 1.0 ){
                        outCol = texture(iChannel0, uvOff).rgb;
                    }
                }
                //do slight offset on one entire channel
                float maxColOffset = GLITCH_COUNT/60.0;
                vec2 colOffset = vec2(
                     remap(sin((glitchTime*iRandNum)*7.0)/2.0+0.5, -iRandNum/5.0, iRandNum/10.0), 
                     remap(cos((glitchTime*iRandNum)*11.0)/2.0+0.5, -iRandNum/20.0, iRandNum/20.0));
                if (glitchTime*iRandNum < activeTime/3.0){
                    outCol.r = texture(iChannel0, uv + colOffset).r;
                }
                else if (glitchTime*iRandNum < activeTime*2.0/3.0){
                    outCol.g = texture(iChannel0, uv + colOffset).g;  
                }
                else{
                    outCol.b = texture(iChannel0, uv + colOffset).b;  
                }
            }
            
            fragColor = vec4(outCol,1.0);
        }
        void main() {
            mainImage(gl_FragColor, gl_FragCoord.xy);
        }
    </script>
{% endblock %}

{% block body %}
{% endblock %}