{% extends 'base.html' %}

{% load static %}

{% block title %}
<script type="module" src="{% static 'js/list_viewer.js'%}"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sacramento&family=Teko&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/list_viewer.css'%}" type="text/css">

</script>
{% endblock %}

{% block DOM %}
{% comment %} <div id="description">
    <div class="item">
        <span class="title">
            KITTY
        </span>
        <span class="index">
            01
        </span>
    </div>
    <div class="item">
        <span class="title">
            MACAROON
        </span>
        <span class="index">
            02
        </span>
    </div>
    <div class="item">
        <span class="title">
            WAFER
        </span>
        <span class="index">
            03
        </span>
    </div>
    <div class="item">
        <span class="title">
            DONUT
        </span>
        <span class="index">
            04
        </span>
    </div>
    <div class="item">
        <span class="title">
            DANISH
        </span>
        <span class="index">
            05
        </span>
    </div>
    <div class="item">
        <span class="title">
            MUFFIN
        </span>
        <span class="index">
            06
        </span>
    </div>
    <div class="item">
        <span class="title">
            TIRAMISU
        </span>
        <span class="index">
            07
        </span>
    </div>
    <div class="item">
        <span class="title">
            BROWNIE
        </span>
        <span class="index">
            08
        </span>
    </div>
    <div class="item">
        <span class="title">
            LOLLIPOP
        </span>
        <span class="index">
            09
        </span>
    </div>
    <div class="item">
        <span class="title">
            JELLY
        </span>
        <span class="index">
            10
        </span>
    </div>
    <div class="item">
        <span class="title">
            COTTON
        </span>
        <span class="index">
            11
        </span>
    </div>
    <div class="item">
        <span class="title">
            CROISSANT
        </span>
        <span class="index">
            12
        </span>
    </div>
    <div class="item">
        <span class="title">
            GUMMIES
        </span>
        <span class="index">
            13
        </span>
    </div>
    <div class="item">
        <span class="title">
            TOPPING
        </span>
        <span class="index">
            14
        </span>
    </div>
    <div class="item">
        <span class="title">
            TOOTSIE
        </span>
        <span class="index">
            15
        </span>
    </div>
    <div class="item">
        <span class="title">
            TOFFEE
        </span>
        <span class="index">
            16
        </span>
    </div>
    <div class="item">
        <span class="title">
            HALVAH
        </span>
        <span class="index">
            17
        </span>
    </div>
    <div class="item">
        <span class="title">
            PUDDING
        </span>
        <span class="index">
            18
        </span>
    </div>
    <div class="item">
        <span class="title">
            PASTRY
        </span>
        <span class="index">
            19
        </span>
    </div>
    <div class="item">
        <span class="title">
            CHUPA
        </span>
        <span class="index">
            20
        </span>
    </div>

</div> {% endcomment %}
{% endblock %}