{% extends 'base.html' %} 
{% load static %} 
{% block title %}
  <script id="2d-vertex-shader" type="notjs">
    attribute vec2 vertexPosition;
    attribute vec3 vertexColor;
    varying vec3 fragColor;
    void main() {
      fragColor = vertexColor;
      gl_Position = vec4(vertexPosition, 0.0, 1.0);
    }
  </script>
  <script id="2d-fragment-shader" type="notjs">

    precision mediump float;
    varying vec3 fragColor;
    void main() {
      gl_FragColor = vec4(fragColor, 1.0);
    }
  </script>
{% endblock %} 
{% block body %}
  <canvas id="c"></canvas>
  <script src="/static/js/triangle.js"></script>
{% endblock %}
